@import "../../styles/variables.scss";

.event {
    &-menu {
        margin: 2rem auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        justify-items: center;
        align-items: center;
        position: relative;
    }

    &-btn {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        width: 450px;
        height: 300px;

        background-color: $orange;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        &-title {
            margin: 3rem;
            font-size: 30px;
            letter-spacing: 2px;
            color: $light-orange;
        }
    }
}

.eventItem {
    position: relative;
    width: 450px;
    height: 300px;
    text-align: center;
    cursor: pointer;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    &-title {
        font-size: 30px;
        letter-spacing: 2px;
        color: $blue;
    }

    &-description {
        font-size: 18px;
    }

    &-date {
        font-size: 18px;
    }

    &-person {
        font-size: 18px;
    }

    &-location {
        font-size: 18px;

        color: $orange;
    }

    &-bot {
        font-size: 18px;

        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}
